*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./images/kahoot.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

.head{
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 900;
    margin-top: 15%;
}
.sBox{
    width: 400px;
    height: 150px;
    background-color: aliceblue;
    margin: 20px auto 0px auto;
    border-radius: 5px;
}
input{
    width: 350px;
    height: 55px;
    margin: 10px 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: #b2b2b2;
    border-radius: 5px;

}
#start{
    background-color: #333333;
    color: aliceblue;
}
.foot-1{
    font-size: 1rem;
    text-align: center;
    color: bisque;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: aliceblue;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}